<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>JSoundFX</servlet-name>
        <jsp-file>/jsp/layout/jsoundfx.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSoundFX</servlet-name>
        <url-pattern>/jsoundfx</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Inchfox</servlet-name>
        <jsp-file>/jsp/layout/inchfox.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Inchfox</servlet-name>
        <url-pattern>/inchfox</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShutUp</servlet-name>
        <jsp-file>/jsp/layout/shutup.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShutUp</servlet-name>
        <url-pattern>/shutup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Tetris</servlet-name>
        <jsp-file>/jsp/layout/tetris.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Tetris</servlet-name>
        <url-pattern>/tetris</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Resume</servlet-name>
        <jsp-file>/jsp/layout/resume.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resume</servlet-name>
        <url-pattern>/resume</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LongDistanceVoterWidget</servlet-name>
        <jsp-file>/jsp/layout/ldv.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>LongDistanceVoterWidget</servlet-name>
        <url-pattern>/ldv</url-pattern>
    </servlet-mapping>

    
    <!-- Friends On A Map (FOAM) URLs -->
    
    <servlet>
        <servlet-name>Facebook FOAM Post-Authorize Callback</servlet-name>
        <jsp-file>/jsp/foam/post-auth.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Facebook FOAM Post-Authorize Callback</servlet-name>
        <url-pattern>/foam/post-auth</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Facebook FOAM Post-Remove Callback</servlet-name>
        <jsp-file>/jsp/foam/post-remove.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Facebook FOAM Post-Remove Callback</servlet-name>
        <url-pattern>/foam/post-remove</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>Facebook FOAM Main Page</servlet-name>
        <servlet-class>com.sondow.foam.MainPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Facebook FOAM Main Page</servlet-name>
        <url-pattern>/foam/main</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>Facebook FOAM Canvas Callback</servlet-name>
        <servlet-class>com.sondow.foam.CanvasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Facebook FOAM Canvas Callback</servlet-name>
        <url-pattern>/foam/*</url-pattern>
    </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
