<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>JSoundFX</servlet-name>
        <jsp-file>/jsp/layout/jsoundfx.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSoundFX</servlet-name>
        <url-pattern>/jsoundfx</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShutUp</servlet-name>
        <jsp-file>/jsp/layout/shutup.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShutUp</servlet-name>
        <url-pattern>/shutup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Tetris</servlet-name>
        <jsp-file>/jsp/layout/tetris.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Tetris</servlet-name>
        <url-pattern>/tetris</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Resume</servlet-name>
        <jsp-file>/jsp/layout/resume.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resume</servlet-name>
        <url-pattern>/resume</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckTimeZoneServlet</servlet-name>
        <servlet-class>com.sondow.CheckTimeZoneServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckTimeZoneServlet</servlet-name>
        <url-pattern>/checkTimeZone</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
