body, h1, h2, li, a { font-family: Helvetica, Arial, Verdana, sans-serif;  }
body     { margin-top: 15px; background-color: #030C13; color: white; }
a        { color: #86B6FF; text-decoration: none; }
a:active { outline: none; }
a:focus  { -moz-outline-style: none; }
img      { border: 0; }
p        { margin: 0 0 16px; }
div.outer { background-color: #111925; margin: auto; width: 925px; }
div.container { background-color: #111925; border: 1px solid #284351; float: left; clear: both; }
div.description { }

ul { list-style-image: none; list-style-position: outside; list-style-type: none; padding-left: 0; }

div.home div.header     { background-repeat: no-repeat; background-image: url('/static/images/swish-upper.jpg'); }
div.home div.header     { position: relative; margin-top: 20px; border-top: 1px solid #284351; border-bottom: 1px solid white; height: 241px; }
div.home div.header h1  { position: absolute; bottom: 17px; left: 149px; color: white; font-weight: normal; margin: 0; width: 120px; }
div.home div.header img { position: absolute; bottom: 23px; left:  33px;  height: 113px; border: 1px solid #1A588F; }

ul.outerList           { background-image:url(/static/images/section_title_bar.jpg); background-repeat: repeat-x; }
ul.outerList           { float: left; background-color: #111925; margin: 0; width: 925px; }
ul.outerList > li      { float: left; border-right: 1px solid #284351;      width: 230px; height: 260px; }
ul.outerList > li.last { border-right: none; }
ul.outerList > li > h2 { color: white; font-weight: normal; font-size: 12pt; text-align: center; margin: 0 0 9px; padding: 8px 0 5px; }

ul.outerList > li > ul          { padding: 0 17px; }
ul.outerList > li > ul > li     { color: white;   font-weight: normal; font-size: 10pt; line-height: 150%; text-indent: -18px; padding-left: 18px; }
ul.outerList > li > ul > li > a { color: #86B6FF; font-weight: normal; font-size: 11pt; text-decoration: none; }

div div.footer { background-repeat: no-repeat; background-image: url('/static/images/swish-lower.jpg'); }
div.footer { border-top: 1px solid white; height: 30px; clear: both; }

div.description div.header      { background-repeat: no-repeat; background-image: url('/static/images/swish-upper.jpg'); background-position: 0 -128px; }
div.description div.header      { height: 60px; position: relative; border-bottom: 1px solid #284351; }
div.description div.header img  { position: absolute; top: 5px; left: 8px;  height: 48px; border: 1px solid #1A588F; }
div.description div.header h1   { font-size: 19pt; left: 65px; margin: 0; position: absolute; top: 19px; }
div.description div.header a h1 { color: white; font-weight: normal; }
div.description div.inner       { padding: 20px; float: right; }

img.screenshot { float: right; padding-left: 20px; }
a.launch { font-size: 16pt; }
